---
import Layout from "../layouts/Layout.astro";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";
import ParaElComponent from "../components/ParaEl/ParaEl.astro";
---

<Layout title="Para Él - Kusy Perú">
  <header
    class="backdrop-blur-lg bg-white/30 py-4 px-10 flex items-center fixed z-50 top-0 w-full justify-between"
  >
    <Header />
  </header>
  <main class="mt-16 px-8 md:px-16">
    <ParaElComponent />
  </main>
  <footer class="bg-[#333333] text-white py-12">
    <Footer />
  </footer>
</Layout>
