---
import imgWomenWelcome from "../../assets/clothing/women_clothing/mujer_bienvenida.webp";
import imgMenWelcome from "../../assets/clothing/men_clothing/hombre_bienvenida.webp";
---

<section class="bannerGeneros px-8 md:px-16 py-8">
  <div class="flex justify-center">
    <div class="w-1/2">
      <img
        src={imgWomenWelcome.src}
        alt="Moda Hombre"
        class="w-full h-auto object-cover"
      />
    </div>
    <div class="w-1/2">
      <img
        src={imgMenWelcome.src}
        alt="Moda Mujer"
        class="w-full h-auto object-cover"
      />
    </div>
  </div>
</section>
