---
import BannerImage from "../../assets/banner/banner.webp";
---

<div class="relative h-[300px] w-full overflow-hidden">
  <img
    src={BannerImage.src}
    alt="Banner"
    class="absolute w-full h-full object-cover"
  />
  <div class="absolute inset-0 bg-white bg-opacity-5"></div>
  <div class="flex items-center justify-center h-full">
    <h1
      id="animated-text"
      class="text-white text-5xl md:text-5xl font-bold text-center opacity-0 transition-opacity duration-500"
    >
    </h1>
  </div>
</div>

<script type="module">
  const animatedText = document.getElementById("animated-text");

  const titles = [
    "Calidad que Lleva el Alma Peruana",
    "Descubre la Autenticidad Peruana",
    "Únete a Nuestra Familia Kusy",
    "Empieza tu Viaje con Estilo Peruano",
  ];

  let currentIndex = 0;

  function updateText() {
    // 1. Desvanece el texto actual
    animatedText.style.opacity = "0";

    // 2. Cambia el texto después de completar la transición de desvanecimiento
    setTimeout(() => {
      currentIndex = (currentIndex + 1) % titles.length; // Avanza al siguiente texto
      animatedText.textContent = titles[currentIndex];

      // 3. Aparece el nuevo texto después de que el contenido cambió
      animatedText.style.opacity = "1";
    }, 500); // Duración del desvanecimiento
  }

  // Mostrar el primer texto al cargar la página
  animatedText.textContent = titles[currentIndex];
  animatedText.style.opacity = "1";

  // Ejecuta `updateText` cada 3.5 segundos (3s visible + 0.5s transición)
  setInterval(updateText, 3500);
  updateText();
</script>
